COMPOSE_PROJECT_NAME=<project_name>

PORTAL_SUBNET=<frontip/subred>
NGINX_CONTAINER_IP=<frontip>
FORWARDED_ALLOW_IPS=<allow_ips_*>

POSTGRES_USER=<postgres_user>
POSTGRES_PASSWORD=<postgres_password>
POSTGRES_DB=<postgres_db>

ACERVO_ENDPOINT=<acervo_host>:<acervo_port>
ACERVO_PUBLIC_ENDPOINT=<acervo_public_endpoint>
ACERVO_S3_URL=<acervo_s3_url>
ACERVO_UPSTREAM_URL=<acervo_upstream_url>
ACERVO_UPSTREAM_HOST=<acervo_upstream_host>
ACERVO_BUCKET_NAME=<acervo_bucket_name>
ACERVO_IIEG_BUCKET_NAME=<acervo_iieg_bucket_name>
ACERVO_USE_SSL=<true_or_false>
ACERVO_VERIFY_SSL=<true_or_false>
ACERVO_ACCESS_KEY=<acervo_access_key>
ACERVO_SECRET_KEY=<acervo_secret_key>
ACERVO_IIEG_ACCESS_KEY=<acervo_iieg_access_key>
ACERVO_IIEG_SECRET_KEY=<acervo_iieg_secret_key>
ACERVO_API_KEY=<acervo_api_key_o_vacio_si_el_acervo_no_la_exige>
ACERVO_API_KEY_HEADER=<nombre_de_la_cabecera_por_defecto_x_api_key>

SECRET_KEY=<secret_key>
CSRF_SECRET_KEY=<csrf_secret_key>
COOKIE_SECURE=<true_or_false>
COOKIE_DOMAIN=<cookie_domain>
CORS_ORIGINS=<cors_origins_json_array>

ADMIN_USERNAME=<admin_username>
ADMIN_PASSWORD=<admin_password>
ADMIN_EMAIL=<admin_email>

NGINX_PORT=<nginx_port>

VITE_WEB_API_URL=<url_publica>
VITE_ADMIN_API_URL=<ur_back>
VITE_GOOGLE_ANALYTICS_ID=<google_analytics_id>
VITE_GOOGLE_TAG_MANAGER_ID=<google_tag_manager_id>
VITE_MAPALAB_BASE_URL=<url_base_de_mapalab_/mapalab_si_va_detras_del_gateway>
VITE_MAPALAB_API_KEY=<api_key_publica_mk_pub_de_mapalab>

CKAN_DB_SUPERUSER_PASSWORD=<ckan_db_superuser_password>
CKAN_DB_PASSWORD=<ckan_db_password>
DATASTORE_RO_PASSWORD=<datastore_ro_password>
CKAN_SITE_URL=<ckan_site_url>
CKAN_SYSADMIN_NAME=<ckan_sysadmin_name>
CKAN_SYSADMIN_PASSWORD=<ckan_sysadmin_password>
CKAN_SYSADMIN_EMAIL=<ckan_sysadmin_email>
CKAN_BEAKER_SESSION_SECRET=<ckan_beaker_session_secret>
CKAN_API_TOKEN_JWT_SECRET=<ckan_api_token_jwt_secret>
CKAN_DOWNLOAD_PROXY=<ckan_download_proxy>
CKAN_S3_STORAGE_PATH=<prefijo_del_bucket_para_ckan_por_defecto_datos_abiertos>


SMTP_USER=<smtp_user>
SMTP_PASSWORD=<smtp_password> # contraseña de aplicación - sin espacios, no la normal
CONTACT_DEST_EMAIL=<contact_dest_email>
