COMPOSE_PROJECT_NAME=<project_name>

POSTGRES_USER=<postgres_user>
POSTGRES_PASSWORD=<postgres_password>
POSTGRES_DB=<postgres_db>
POSTGRES_PORT=<postgres_port>

REDIS_PORT=<redis_port>

ACERVO_ENDPOINT=<acervo_host>:<acervo_port>
ACERVO_PUBLIC_ENDPOINT=<acervo_public_endpoint>
ACERVO_S3_URL=<acervo_s3_url>
ACERVO_UPSTREAM_URL=<acervo_upstream_url>
ACERVO_UPSTREAM_HOST=<acervo_upstream_host>
ACERVO_S3_PORT=<acervo_s3_port>
ACERVO_BUCKET_NAME=<acervo_bucket_name>
ACERVO_IIEG_BUCKET_NAME=<acervo_iieg_bucket_name>
ACERVO_USE_SSL=<true_or_false>
ACERVO_VERIFY_SSL=<true_or_false>
ACERVO_ADMIN_ACCESS_KEY=<acervo_admin_access_key>
ACERVO_ADMIN_SECRET_KEY=<acervo_admin_secret_key>
ACERVO_ACCESS_KEY=<acervo_access_key>
ACERVO_SECRET_KEY=<acervo_secret_key>
ACERVO_IIEG_ACCESS_KEY=<acervo_iieg_access_key>
ACERVO_IIEG_SECRET_KEY=<acervo_iieg_secret_key>

SECRET_KEY=<secret_key>
CSRF_SECRET_KEY=<csrf_secret_key>
COOKIE_SECURE=<true_or_false>
CORS_ORIGINS=<cors_origins_json_array>

ADMIN_USERNAME=<admin_username>
ADMIN_PASSWORD=<admin_password>
ADMIN_EMAIL=<admin_email>

NGINX_PORT=<nginx_port>
API_PORT=<api_port>
WEB_PORT=<web_port>
ADMIN_PORT=<admin_port>

VITE_WEB_API_URL=<vite_web_api_url>
VITE_ADMIN_API_URL=<vite_admin_api_url>
VITE_GOOGLE_ANALYTICS_ID=<google_analytics_id>
VITE_GOOGLE_TAG_MANAGER_ID=<google_tag_manager_id>

CKAN_DB_SUPERUSER_PASSWORD=<ckan_db_superuser_password>
CKAN_DB_PASSWORD=<ckan_db_password>
CKAN_DB_PORT=<ckan_db_port>
DATASTORE_RO_PASSWORD=<datastore_ro_password>
CKAN_SOLR_PORT=<ckan_solr_port>
CKAN_PORT=<ckan_port>
CKAN_SITE_URL=<ckan_site_url>
CKAN_SYSADMIN_NAME=<ckan_sysadmin_name>
CKAN_SYSADMIN_PASSWORD=<ckan_sysadmin_password>
CKAN_SYSADMIN_EMAIL=<ckan_sysadmin_email>
CKAN_BEAKER_SESSION_SECRET=<ckan_beaker_session_secret>
CKAN_API_TOKEN_JWT_SECRET=<ckan_api_token_jwt_secret>
CKAN_DOWNLOAD_PROXY=<ckan_download_proxy>
