

{% block search_form %}
  {% set placeholder = _('E.g. environment') %}
  {% set dataset_type = h.default_package_type() %}

  <div class="mt-12">
    <form class="search-form" method="get" action="{% url_for dataset_type ~ '.search' %}">
      <div class="search-input form-group search-giant">
        <input aria-label="{% block header_site_search_label %}{{ h.humanize_entity_type('package', dataset_type or 'dataset', 'search placeholder') or _('Search datasets') }}{% endblock %}" 
       id="field-main-search" 
       type="text" 
       class="form-control" 
       name="q" 
       value="" 
       autocomplete="off" 
       placeholder="{% block search_placeholder %}{{ placeholder or _('Search datasets...') }}{% endblock %}" />
        <button class="btn" type="submit" aria-labelledby="search-label">
          <i class="fa fa-search"></i>
          <span class="sr-only" id="search-label">{{ _('Search') }}</span>
        </button>
      </div>
    </form>
  </div>
  {% endblock %}