SERVER_NAME=dominio.com
SSL_CERTIFICATE=/path/dominio.com.crt
SSL_CERTIFICATE_KEY=/path/dominio.com.key
CORS_ALLOWED_ORIGIN=https://dominio.com

MAPALAB_HOST=ip_o_hostname:puerto
GEOSERVER_HOST=ip_o_hostname:puerto
ACERVO_HOST=ip_o_hostname:puerto
