{% ckan_extends %}

{#
  base.html — Punto de entrada principal del tema IIEG.
  Aquí se sobrescriben bloques globales: estilos, favicon, header, footer.
#}

 
{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ h.url_for_static('/css/iieg_theme.css') }}" />
{% endblock %}

{% block links %}
  <link rel="shortcut icon" href="{{ h.url_for_static('/images/iieg_logo-32x32.png') }}?v=2" type="image/x-icon" />
  <link rel="icon" type="image/png" sizes="32x32" href="{{ h.url_for_static('/images/iieg_logo-32x32.png') }}?v=2" />
{% endblock %}


{% block head_extras %}
{{ super() }}
<!-- Google Tag Manager -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NSJHPW4T');</script>
<!-- End Google Tag Manager -->
{% endblock %}

{% block body_start %}
  {{ super() }}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NSJHPW4T"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
{% endblock %}