{% ckan_extends %}

{% block header_site_navigation_tabs %}
  <!-- Enlaces nativos de CKAN (Datasets, Organizaciones, Grupos) -->
  {% set org_type = h.default_group_type('organization') %}
  {% set group_type = h.default_group_type('group') %}

              {{ h.build_nav_main(
                (dataset_type ~ '.search', h.humanize_entity_type('package', dataset_type, 'main nav') or _('Datasets'), ["dataset", "resource"]),
                (org_type ~ '.index',
                  h.humanize_entity_type('organization', org_type, 'main nav') or _('Organizations'), ['organization'])
              ) }}

  <!-- AGREGA AQUÍ TUS ELEMENTOS PERSONALIZADOS -->
  
  <!-- Opción A: Enlace a una página interna o externa usando HTML puro -->
  <li>
    <a href="https://iieg.gob.mx/ns/" target="_blank">IIEG</a>
  </li>
  

{% endblock %}

{% block header_site_search %}
{% endblock %}