.menu-wrapper {
  position: relative;
  z-index: 10;
  padding-top: 2px;
  padding-bottom: 2px;
}
.menu-wrapper .menu {
  list-style: none;
  text-align: right;
}
.menu-wrapper .menu > li {
  position: relative;
  padding: 0.7em 0;
  display: inline-block;
}

.menu-wrapper a.menu-link {
  display: none;
  padding: 0.7em 0;
}
.menu-wrapper a {
  display: block;
  position: relative;
  padding: 0 0.5em;
  color: #ffffff;
  text-decoration: none;
  border-bottom: none;
}
.menu-wrapper a:hover {  
  transition: all 0.5s;
}
.menu-wrapper .menu > .current-menu-item > a,
.menu-wrapper .menu > .current-menu-ancestor > a {
  position: relative;
  z-index: 12;
  color: #ffffff;
  border-bottom: none;
}
.menu-wrapper .menu > .current-menu-item > a:hover,
.menu-wrapper .menu > .current-menu-ancestor > a:hover,
.menu-wrapper .menu > .current-menu-item > a {
  color: #ff8300;
}

.menu-wrapper .sub-menu {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 18px 0 0 -0.7em;
  padding: 3px 0 0 0;
  position: absolute;
  max-height: 0em;
  overflow: hidden;
  list-style: none outside none;
  text-align: left;
  text-transform: none;
}
.menu-wrapper .sub-menu li {
  display: block;
  background: #ffffff;
  margin-left: 0.7em;
  margin-right: 0.7em;
}
.menu-wrapper .sub-menu a {
  margin: 0;
  white-space: nowrap;
  line-height: 1.8em;
  border: none;
  color: #5c2472;
}
.menu-wrapper .sub-menu a:hover {
  background: #f4d8ff;
  color: #ff8300;
}
.menu-wrapper .sub-menu li:last-child {
  padding-bottom: 0.26em;
}
.menu-wrapper .sub-menu li:last-child a {
  border-bottom: none;
}
.menu-wrapper li:hover .sub-menu {
  max-height: none;
  transition: max-height 0.5s;
}



/* Responsive Menu */
@media screen and (max-width: 768px) {
  body .menu-wrapper nav[role=navigation] {
    overflow: hidden;
    max-height: 0em;
  }
  body .menu-wrapper nav[role=navigation].active {
    max-height: 30em;
    transition: max-height 0.5s ease-out;
  }
  .menu-wrapper {
    /* unhide the 2nd level */
    /* styling the toggle menu */
    /* arrow to indicate that we have subnav*/
  }
  .menu-wrapper .menu {
    text-align: center ;
  }
  .menu-wrapper a.menu-link {
    display: block;
    width: auto;
    padding-right: 15px;
    padding-left: 10px;
    border: none;
    margin: 0;
  }
  .menu-wrapper a.menu-link:hover {
    background: #6618a2;
  }
  .menu-wrapper a.menu-link.active .ico-caret-down:before {
    content: "\f0d8";
  }
  .menu-wrapper .menu .menu {
    padding-bottom: 5px;
  }
  .menu-wrapper .menu li {
    display: block;
    border: 1px solid 6618a2;
    border: none;
  }
  .menu-wrapper .menu > li {
    padding: 0px;
    border: none;
  }
  .menu-wrapper .menu > li + li {
    border-top: 1px dashed #6618a2;
  }
  .menu-wrapper .menu a {
    padding: 0.5em 0;
    margin: 0px;
    border: none;
  }
  .menu-wrapper .menu a:hover {
    background: #6618a2;
    color: #fff;
  }
  .menu-wrapper .menu .rightalign {
    float: none;
  }
  .menu-wrapper li + li a:before {
    content: "";
  }
  .menu-wrapper li:hover .sub-menu {
    max-height: 0em;
    transition: none;
  }
  .menu-wrapper .sub-menu {
    background: none;
    margin-left: 0px;
    margin-top: 1px;
    display: block;
    width: 100%;
  }
  .menu-wrapper .sub-menu li,
  .menu-wrapper .sub-menu li a {
    margin: 0;
    display: block;
    width: 100%;
  }
  .menu-wrapper .sub-menu a {
    padding-left: 0.8em;
  }
  .menu-wrapper .sub-menu a:hover {
    background: #fff;
    color: #6618a2;
    border-bottom: 1px solid #6618a2;
  }
  .menu-wrapper .sub-menu li {
    border-bottom: 1px dashed #6618a2;
  }
  .menu-wrapper .sub-menu li:last-child {
    padding: 0;
  }
  .menu-wrapper .sub-menu li:last-child a {
    border: none;
  }
  .menu-wrapper .menu .has-subnav {
    position: relative;
  }
  .menu-wrapper li .sub-menu.active {
    max-height: 30em;
    overflow: visible;
    position: relative;
    z-index: 9;
    transition: max-height 0.5s ease-out;
  }
  .menu-wrapper .toggle-link {
    height: auto;
    width: 60px;
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 200;
    font-size: 0em;
    cursor: pointer;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    color: #6618a2;
    padding-bottom: 5px;
  }
  .menu-wrapper .toggle-link:hover {
    transition: all 0.2s;
  }
  .menu-wrapper .menu .has-subnav > .toggle-link:after {
    content: "+";
    position: absolute;
    width: 50px;
    height: auto;
    top: 5px;
    margin-top:0px;
    right: 4px;
    color: #6618a2;
    font-size: 28px;
    padding-bottom: 5px;
  }
  .menu-wrapper .menu .has-subnav > .toggle-link.active:after {
    content: "-";
    background-color: #6618a2;
    color: #fff;
    height: auto;
    top: 5px;
    margin-top:0px;
    padding-bottom: 5px;
  }
}