{% extends "base.html" %}

{%- block page -%}

  {%- block header %}
    {% include "header.html" %}
  {% endblock -%}

  {%- block content %}
    <div class="page-content">
      <div class="container">
        {% block page_content %}
          <div class="row">
            <h1>{{ _('Privacy Policy') }}</h1>
            <p>{{ _('This is the privacy policy page. You can customize this content by overriding the primary_content block in this template.') }}</p>  
          </div>
        {% endblock %}
      </div>
    </div>
  {% endblock -%}

    {%- block footer %}
      {% include "footer.html" %}
    {% endblock -%}

{%- endblock -%}

{%- block scripts %}
  {% asset 'base/main' %}
  {% asset 'base/ckan' %}
  {{ super() }}
{% endblock -%}