.text-banner p,
.text-banner b,
.text-banner strong{
    color: white;
    font-size: var(--text-22);
}

.text-banner strong{
    font-weight: 800;
}

.swiper-horizontal > .swiper-pagination-bullets, 
.swiper-pagination-horizontal.swiper-pagination-bullets {
  &.swiper-pagination-bullets-dynamic {
    width: 100% !important;
    bottom: 2% !important;
    text-align: left;
    padding-left: 15px;
  }
}

.swiper-pagination-fraction, .swiper-pagination-custom, 
.swiper-horizontal > .swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 20%);
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 13px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 13px));
  background: var(--swiper-pagination-bullet-inactive-color, transparent);
  border: 1px solid white;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: var(--color-tertiary);
  border: none;
}

.swiper-pagination-bullets-dynamic {
  & .swiper-pagination-bullet-active-next,
  .swiper-pagination-bullet-active-prev {
    transform: scale(1);
  }
}


@media (width >= 40rem) { }
@media (width >= 48rem) { }
@media (width >= 64rem) { 
  .swiper-horizontal > .swiper-pagination-bullets, 
  .swiper-pagination-horizontal.swiper-pagination-bullets {
    &.swiper-pagination-bullets-dynamic {
      bottom: 30% !important;
    }
  }
}
@media (width >= 80rem) {
   .swiper-horizontal > .swiper-pagination-bullets, 
  .swiper-pagination-horizontal.swiper-pagination-bullets {
    &.swiper-pagination-bullets-dynamic {
      width: 90% !important;
    }
  }
 }
@media (width >= 96rem) { 
  .swiper-horizontal > .swiper-pagination-bullets, 
  .swiper-pagination-horizontal.swiper-pagination-bullets {
    &.swiper-pagination-bullets-dynamic {
      width: 1520px !important;
      bottom: 4% !important;
    }
  }
}
@media (width >= 120rem) { 
  .swiper-horizontal > .swiper-pagination-bullets, 
  .swiper-pagination-horizontal.swiper-pagination-bullets {
    &.swiper-pagination-bullets-dynamic {      
      bottom: 25% !important;
    }
  }
}